    <!-- footer FOOTER FOOTER-->
    <footer class="page-footer font-small bg-dark text-white pt-4">

        <div class="container-fluid text-center text-md-left">

          <div class="row">

            <div class="col-md-6 mt-md-0 mt-3">

              <h5 class="text-uppercase text-warning">Candy Shop</h5>
              <p>Join us in bringing sweet things. Join us in bringing sweet things. </p>

            </div>


            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">

              <h5 class="text-uppercase">SHOP</h5>

              <ul class="list-unstyled">
                <li>
                  <a class="text-light" href="#!">Cake</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Donuts</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Cake</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Donuts</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="text-uppercase">SHOP</h5>

              <ul class="list-unstyled">
                <li>
                  <a class="text-light" href="#!">Cake</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Donuts</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Cake</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Donuts</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/" class="text-warning"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
