<!-- THE MOST VOTED CAKE SAMPLE -->
<h2 style="text-align: center; margin-top: 30px;">THE MOST VOTED CAKE SAMPLE</h2>
<div class="row">
<div class="col-4">
    <div class="card">
        <img src="../assets/line1.jpg" style="height: 426px; width: 413px;" class="card-img-top px-4 pt-4" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Cake</p>
        <div class="card-body mx-auto" >
          <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>
<div class="col-4">
    <div class="card">
        <img src="../assets/line2.jpg" style="height: 426px; width: 413px;" class="card-img-top px-4 pt-4" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Cake</p>
        <div class="card-body mx-auto">
            <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>
<div class="col-4">
    <div class="card">
        <img src="../assets/line3.jpg" style="height: 426px; width: 413px;" class="card-img-top px-4 pt-4" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Cake</p>
        <div class="card-body mx-auto">
            <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>
</div>

<!-- NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNEW CAKE -->
<h2 style="text-align: center; margin-top: 30px;">NEW CAKE</h2>
<div class="row">
<div class="col-3">
    <div class="card">
        <img src="../assets/new1.jpg" class="card-img-top px-4 pt-3" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Cake</p>
        <div class="card-body mx-auto">
          <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>
<div class="col-3">
    <div class="card">
        <img src="../assets/new2.jpg" class="card-img-top px-4 pt-3" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Cake</p>
        <div class="card-body mx-auto">
            <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>
<div class="col-3">
    <div class="card">
        <img src="../assets/new3.jpg" class="card-img-top px-4 pt-3" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Cake</p>
        <div class="card-body mx-auto">
            <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>
<div class="col-3">
    <div class="card">
        <img src="../assets/new4.jpg" class="card-img-top px-4 pt-3" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Cake</p>
        <div class="card-body mx-auto">
          <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>

</div>

<!--GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGIFT BOX TYPE  -->
<h2 style="text-align: center; margin-top: 30px;">GIFT BOX TYPE</h2>
                      <!--RRRRRRRRRRRRRRRRRRRRRRRRROW1-GBT  -->
<div class="row">
<div class="col-2">
    <div class="card">
        <img src="../assets/gift1.jpg" style="height: 200px; width: 200px;" class="card-img-top px-3 pt-2" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Box</p>
        <div class="card-body mx-auto">
          <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>

<div class="col-2">
    <div class="card">
        <img src="../assets/gift2.jpg" style="height: 200px; width: 200px;" class="card-img-top px-3 pt-2" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Box</p>
        <div class="card-body mx-auto">
            <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>

<div class="col-2">
    <div class="card">
        <img src="../assets/gift3.jpg" style="height: 200px; width: 200px;" class="card-img-top px-3 pt-2" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Box</p>
        <div class="card-body mx-auto">
            <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>

<div class="col-2">
    <div class="card">
        <img src="../assets/gift4.jpg" style="height: 200px; width: 200px;" class="card-img-top px-3 pt-2" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Box</p>
        <div class="card-body mx-auto">
          <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>

<div class="col-2">
    <div class="card">
        <img src="../assets/gift5.jpg" style="height: 200px; width: 200px;" class="card-img-top px-3 pt-2" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Box</p>
        <div class="card-body mx-auto">
          <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>

<div class="col-2">
    <div class="card">
        <img src="../assets/gift6.jpg" style="height: 200px; width: 200px;" class="card-img-top px-3 pt-2" alt="...">
        <p  class="mx-auto" style="margin-top: 15px;">Lou Box</p>
        <div class="card-body mx-auto">
          <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
        </div>
      </div>
</div>
</div>
                  <!--RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRROW2-GBT  -->
<div class="row" style="margin-top: 30px;">
    <div class="col-3">
        <div class="card">
            <img src="../assets/gift7.jpg" class="card-img-top px-4 pt-3" alt="...">
            <p  class="mx-auto" style="margin-top: 15px;">Lou Box</p>
            <div class="card-body mx-auto">
              <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="../assets/gift8.jpg" class="card-img-top px-4 pt-3" alt="...">
            <p  class="mx-auto" style="margin-top: 15px;">Lou Box</p>
            <div class="card-body mx-auto">
                <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="../assets/gift9.jpg" class="card-img-top px-4 pt-3" alt="...">
            <p  class="mx-auto" style="margin-top: 15px;">Lou Box</p>
            <div class="card-body mx-auto">
                <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="../assets/gift10.jpg" class="card-img-top px-4 pt-3" alt="...">
            <p  class="mx-auto" style="margin-top: 15px;">Lou Box</p>
            <div class="card-body mx-auto">
              <button href="#" class="btn btn-warning" (click)="onClickMe(Seven)">Buy Now</button>
            </div>
          </div>
    </div>
      <img style="margin-top: 30px;" src="../assets/birth.jpg" class="card-img-top px-4 pt-3" alt="...">
  </div>

  <!-- //EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEmail -->
  <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">WANT 10% OFF YOUR FIRST ORDER?</h5>
        <p class="card-text">Click to enter your email to receive promotion notice</p>
        <!-- <a href="#" class="btn btn-warning"></a> -->
        <button type="button" class="btn btn-dark">Click here</button>
      </div>
    </div>
